{% extends "base.html" %}
{% block title %}Change Password{% endblock %}

{% load allauth i18n %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}

<div class="container-fluid p-0">
    <div class="row p-0">
        <div class="col-12 text-start">

            <div class="container p-0 account-data">
                <div class="row p-3">
                    <div class="col-12 py-2 text-start px-3">

                        <div class="container-fluid">
                            <div class="row my-3">
                                <div class="col-6 text-start my-auto">
                                    <h1>
                                        <a href="#">
                                            <i class="fa-solid fa-circle-arrow-left"></i>
                                        </a>
                                        CHANGE PASSWORD
                                    </h1>
                                </div>
                                <div class="col-6 text-end my-auto">
                                    <a href="{% url 'account_logout' %}">
                                        Logout <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="container-fluid">
                            <div class="row p-5  bg-light rounded text-left">
                                <div class="col-12">
                                    {% if user.is_authenticated %}
                                        {% url 'account_change_password' as action_url %}
                                        <div class="allauth_form">
                                        {% element form form=form method="post" action=action_url %}
                                            {% slot body %}
                                                {% csrf_token %}
                                                {% element fields form=form %}
                                                {% endelement %}
                                            {% endslot %}
                                            {% slot actions %}
                                                {% element button type="submit" %}
                                                    {% trans "Change Password" %}
                                                {% endelement %}
                                            {% endslot %}
                                        {% endelement %}
                                        <small>
                                            If you have forgotten your password, we suggest that you logout of your account, and click 'Forgot Password?' on the 'Sign In' page.
                                        </small>
                                        </div>
                                        
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
