{% extends 'base.html' %}

{% block title %}ERP{% endblock %}
{% block meta_keywords %}{% endblock %}
{% block meta_desc %}{% endblock %}

{% block content %}

{% if user.is_authenticated and user.is_staff %}

<section>

    <div class="container">

        <div class="row my-5">
            <div class="col-11 py-3 my-auto">
                <a href="{% url 'erp_products' %}"><i class="fa-solid fa-angle-left"></i> ERP Products</a>
                <h1>{% if product %}Edit{% else %}Create{% endif %} Product</h1>
                
            </div>
            <div class="col-1 py-3 text-end my-auto">
                <a class="btn-view" href="{% url 'product_detail' sku=product.sku %}">View Product</a>
            </div>
            <div class="col-12 col-md-6 p-3 p-lg-5">
                <h5>Product Data</h5>
                <hr>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ product_form.as_p }}
                    <button type="submit" class="btn btn-primary" name="product_submit">Save Product</button>
                </form>
            </div>
            <div class="col-12 col-md-6 p-3 p-lg-5">
                {% if product %}
                    <h5>Product Images</h5>
                    <hr>
                    <div class="container">
                        {% for media in product.media.all %}
                            <div class="row">
                                <div class="col-11 p-0 text-start my-auto">
                                    <img src="{{ media.file.url }}" alt="product image" width="75px">
                                </div>
                                <div class="col-1 p-0 text-end my-auto">
                                    <form method="post" action="{% url 'media_delete' pk=media.pk %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger btn-sm">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </form>
                                </div>
                                <div class="col-12 p-0">
                                    <hr>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
              {% endif %}
                <h6>Upload Media</h6>
                <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ media_form.as_p }}
                  <button type="submit" class="btn btn-primary" name="media_submit">Upload Media</button>
              </form>
            </div>
            <div class="col-12 py-3">



 

            </div>
        </div>

    </div>

</section>
                    
{% else %}
    <p>You are either not logged in or not a staff member.</p>
{% endif %}

{% endblock %}