{% extends 'base-erp.html' %}

{% block title %}ERP{% endblock %}
{% block meta_keywords %}{% endblock %}
{% block meta_desc %}{% endblock %}

{% block content %}



{% if user.is_authenticated and user.is_staff %}



    <div class="container">
        <div class="row px-3 px-lg-4">
            <div class="row">
                <div class="col-6 text-start my-auto">
                    <small>
                        <a href="{% url 'erp' %}"><i class="fa-solid fa-angle-left"></i> Dashboard</a>
                    </small>
                    <h1>Company Information</h1>
                </div>
                
                <div class="col-6 text-end my-auto">
                    <a class="btn btn-success btn-sm" href="{% url 'erp_product_create' %}">
                        Add Product
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </div>
                
                <div class="col-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 p-3 border rounded bg-white">

                                <div class="row">
                                    <div class="col-12 text-start">
                                        
                                        {% for product in products %}
                                            {% if product.blocked %}
                                            <div class="row">
                                                <div class="col-12 text-start">
                                                    <div class="btn text-start">
                                                        <sub>SKU: {{ product.sku }}</sub><br>
                                                        <small>{{ product.name }} (Archived)</small><br>
                                                        <sup>This item is blocked and cannot be removed as it is linked to a single or several SalesOrders.</sup>
                                                    </div>
                                                </div>
                                            </div>
                                            {% else %}
                                            <div class="row">
                                                <div class="col-11 text-start">
                                                    <div class="container p-0">
                                                        <div class="row p-0">
                                                            <div class="col-2">
                                                                <a href="{% url 'erp_product_edit' product.pk %}">
                                                                    <div class="prod_list">{{ product.sku }}</div>
                                                                </a>
                                                            </div>
                                                            <div class="col-2">
                                                                <div class="prod_list">{{ product.name }}</div>
                                                            </div>
                                                            <div class="col-3"></div>
                                                            <div class="col-3"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-1 text-end p-0">
                                                    <a class="btn btn-danger btn-sm" href="{% url 'erp_product_delete' product.pk %}">
                                                        <i class="fa-solid fa-trash"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            {% endif %}
                                        {% endfor %}

                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
  
  <!-- Modal -->
  <div class="modal fade" id="editCompany" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editCompanyLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-4" id="editCompanyLabel">Company Information</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
      </div>
    </div>
  </div>
                    
{% else %}
    <p>You are either not logged in or not a staff member.</p>
{% endif %}

{% endblock %}