{% extends 'base.html' %}

{% block title %}ERP{% endblock %}
{% block meta_keywords %}{% endblock %}
{% block meta_desc %}{% endblock %}

{% block content %}

{% if user.is_authenticated and user.is_staff %}

<section>

    <div class="container">

        <div class="row my-5">
            <div class="col-12 py-3">
                <h1>Admin Portal</h1>
            </div>
            <div class="col-12 col-md-6 py-3">
                <a class="btn btn-primary w-100 p-3" href="{% url 'erp_products' %}">Manage Products</a>
            </div>
            <div class="col-12 col-md-6 py-3">
                <a class="btn btn-success w-100 p-3" href="{% url 'erp_orders' %}">Manage Orders</a>
            </div>
        </div>

    </div>

</section>

{% else %}
    <p>You are either not logged in or not a staff member.</p>
{% endif %}

{% endblock %}