{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block meta_keywords %}
key, words, go, here
{% endblock %}
{% block meta_desc %}
Meta Description 
{% endblock %}

{% block content %}

<section>

    <div class="container">

        <div class="row my-5">
            <div class="col-12 py-3">

                <h1 class="text-center">About Us</h1>
                <article>
                    <h5>
                        At CADENCE Tools, we love working on everything, we love moving forward, and a workshop is our kingdom.
                    </h5>
                    <hr>
                    <p>
                        <strong>
                            This passion has driven us to source and supply tools, equipment and safety gear that we are proud to
                            use ourselves and encourage like minded individuals like yourself to be passionate about working with 
                            your hands and to once again embrace the DIY way of life!
                        </strong>
                    </p>
                    <hr>
                    <p>
                        Whether you're a professional mechanic, engineer, handyman, craftsman or an enthusiastic DIYer, our relentless commitment to innovation, practicality, and quality ensures
                        that the products we offer meet the highest standards. From hand tools to storage, our comprehensive range cover all your needs.
                    </p>
                    <p>
                        We understand that affordability is key, and we also know that buying tools is an investment. 
                        We source our products carefully, insuring that they are built to last without breaking the bank.
                    </p>
                    <div>
                        <img src="/static/img/brutal-tattooed-bearded-mechanic-specialist-repairs-car-engine-which-is-raised-hydraulic-lift-garage-service-station.jpg" alt="Mechanic">
                        <a href="https://www.freepik.com/free-photo/brutal-tattooed-bearded-mechanic-specialist-repairs-car-engine-which-is-raised-hydraulic-lift-garage-service-station_28232164.htm#fromView=search&page=1&position=11&uuid=06f52f37-3676-447d-b125-76469a656364" target="_blank">Image by fxquadro on Freepik</a>
                    </div>

                </article>

            </div>
        </div>

    </div>

</section>

{% endblock %}