{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block meta_keywords %}
key, words, go, here
{% endblock %}
{% block meta_desc %}
Meta Description 
{% endblock %}

{% block content %}

<section>
            
    <div class="container">
    
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-3">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Basket</li>
            </ol>
        </nav>

    </div>


    <!-- BASKET -->
    <div class="container" id="basket">
        <div class="row my-5">

            <div class="col-12 col-lg-12 px-3">
                <h1>My Basket</h1>
            </div>

            <div class="col-12 col-lg-9 px-3">
                {% if user_transactions %}
                <div class="accordion" id="accordionExample">
                    {% for transaction in user_transactions %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-{{ transaction.id }}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ transaction.id }}" aria-expanded="false" aria-controls="collapse-{{ transaction.id }}">
                                <strong>{{ transaction.product.name }} <span class="text-primary px-2">edit</span></strong>
                                <small class="text-secondary">
                                    <span class="text-dark px-2">&euro; {{ transaction.subtotal | floatformat:2 }}</span>
                                    (QTY {{ transaction.quantity }} &times; &euro;{{ transaction.product.price }}) 
                                </small>
                            </button>
                        </h2>
                        <div id="collapse-{{ transaction.id }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ transaction.id }}" data-bs-parent="#accordionExample">
                          <div class="accordion-body">

                            <div class="row">
                                <div class="col-12">
                                    <p>
                                        SKU: {{ transaction.product.sku }}
                                    </p>
                                    <form method="POST" action="{% url 'basket_quantity_update' transaction.id %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                          <label for="quantity">Quantity:</label>
                                          <input type="number" min="1" class="form-control" id="quantity" name="quantity" value="{{ transaction.quantity }}">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Update Quantity</button>
                                      </form>
                                </div>
                                <div class="col-12 text-end">
                                    <hr>
                                    <form method="post" action="{% url 'delete_transaction' transaction.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn text-danger btn-xs">
                                            Remove: {{ transaction.product.name }} <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            
                            
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="my-5 border rounded p-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h5>Delivery Information</h5>
                                <p>All information is required to place an order:</p>
                            </div>
                            <div class="col-6 my-4">
                                <h6>Billing Information</h6>
                                <hr>
                                <a type="button" data-bs-toggle="modal" data-bs-target="#billingModal">
                                    <div class="row my-2">
                                        <div class="col-1 text-center"><i class="fa-solid fa-user"></i></div>
                                        <div class="col-11">
                                            <small>
                                                {% if profile.billing_name %}
                                                    {{ profile.billing_name }}
                                                {% else %}
                                                    Please enter billing name
                                                {% endif %}
                                            </small>
                                        </div>
                                    </div>
                                    <div class="row my-2">
                                        <div class="col-1 text-center"><i class="fa-solid fa-phone"></i></div>
                                        <div class="col-11">
                                            <small>
                                                {% if profile.billing_phone %}
                                                    <span class="text-dark">
                                                        {{ profile.billing_phone }}
                                                    </span>
                                                {% else %}
                                                    <span class="text-danger">Please enter a phone number</span>
                                                {% endif %}
                                            </small>
                                        </div>
                                    </div>
                                    
                                    <div class="row my-2">
                                        <div class="col-1 text-center"><i class="fa-solid fa-location-dot"></i></div>
                                        <div class="col-11">
                                            <small>
                                                {% if profile.billing_address %}
                                                    <span class="text-dark">{{ profile.billing_address }}</span>
                                                {% else %}
                                                    <span class="text-danger">Please enter a physical address</span>
                                                {% endif %}
                                                <br>
                                                {% if profile.billing_code %}
                                                    <span class="text-dark">{{ profile.billing_code }}</span>
                                                {% else %}
                                                    <span class="text-danger">Please enter postal code</span>
                                                {% endif %}
                                            </small>
                                        </div>
                                    </div>                                    
                                </a>
                                <br>
                                <!-- Billing Info Modal -->
<div class="modal fade" id="billingModal" tabindex="-1" aria-labelledby="billingModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="billingModalLabel">Edit Billing Information</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="billingForm" method="post" action="{% url 'basket' %}">
              {% csrf_token %}
              <input type="hidden" name="form_type" value="billing">
              {{ billing_form.as_p }}
              <button type="submit" class="btn btn-primary">Save changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
                            </div>
                            
                            <div class="col-6 my-4">

                                <h6>Deliver to:</h6>
                                <hr>
                                <a type="button" data-bs-toggle="modal" data-bs-target="#shippingModal">
                                    <div class="row my-2">
                                        <div class="col-1 text-center"><i class="fa-solid fa-user"></i></div>
                                        <div class="col-11">
                                            <small>
                                                {% if profile.shipping_name %}
                                                    {{ profile.shipping_name }}
                                                {% else %}
                                                    Please enter shipping name
                                                {% endif %}
                                            </small>
                                        </div>
                                    </div>
                                    <div class="row my-2">
                                        <div class="col-1 text-center"><i class="fa-solid fa-phone"></i></div>
                                        <div class="col-11">
                                            <small>
                                                {% if profile.shipping_phone %}
                                                    <span class="text-dark">
                                                        {{ profile.shipping_phone }}
                                                    </span>
                                                {% else %}
                                                    <span class="text-danger">Please enter a phone number</span>
                                                {% endif %}
                                            </small>
                                        </div>
                                    </div>

                                    <div class="row my-2">
                                        <div class="col-1 text-center"><i class="fa-solid fa-location-dot"></i></div>
                                        <div class="col-11">
                                            <small>
                                                {% if profile.shipping_address %}
                                                    <span class="text-dark">{{ profile.shipping_address }}</span>
                                                {% else %}
                                                    <span class="text-danger">Please enter a physical address</span>
                                                {% endif %}
                                                <br>
                                                {% if profile.shipping_code %}
                                                    <span class="text-dark">{{ profile.shipping_code }}</span>
                                                {% else %}
                                                    <span class="text-danger">Please enter postal code</span>
                                                {% endif %}
                                            </small>
                                        </div>
                                    </div>
                                </a>
                                <!-- Shipping Info Modal -->
<div class="modal fade" id="shippingModal" tabindex="-1" aria-labelledby="shippingModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="shippingModalLabel">Edit Shipping Information</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="shippingForm" method="post" action="{% url 'basket' %}">
              {% csrf_token %}
              <input type="hidden" name="form_type" value="shipping">
              {{ shipping_form.as_p }}
              <button type="submit" class="btn btn-primary">Save changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
                            </div>
                        </div>
                    </div>
                </div>

                {% else %}
                    <p>Basket is empty. <a href="{% url 'products' %}">Browse Products</a></p>
                {% endif %}
            </div>

            <div class="col-12 col-lg-3 px-3">
                {% if user_transactions %}
                    <div class="p-3 border rounded text-start">
                        <div class="p-2">
                            <h6>ORDER OVERVIEW:</h6>
                            <table class="w-100">
                                <tbody>
                                    <tr>
                                        <td class="text-start">BASKET TOTAL</td>
                                        <td class="text-end">&euro; {{ total_basket_value | floatformat:2 }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start">DELIVERY</td>
                                        <td class="text-end">&euro; {{ delivery_amount | floatformat:2 }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start">VAT (23%)</td>
                                        <td class="text-end">&euro; {{ vat_amount | floatformat:2 }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-start"><strong>TOTAL</strong></td>
                                        <td class="text-end"><strong>&euro; {{ total_amount | floatformat:2 }}</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <hr>
                        <!-- PAY NOW Button -->
{% if can_pay %}
<form method="POST">
    {% csrf_token %}
    <button class="btn btn-success w-100" type="submit" name="action" value="create_order">PAY NOW</button>
    <br>
    <div class="text-center p-2">
        <sup class="text-secondary">
            Powered By
            <img src="https://images.ctfassets.net/fzn2n1nzq965/6XFEUA9FzMBMphYdcUab19/37a1e07201366a351f7956560ccac09d/Stripe_wordmark_-_slate.svg" width="64px">
        </sup>
    </div>
</form>
{% else %}
<button class="btn btn-warning w-100" type="button" disabled="disabled">PAY NOW</button>
<br>
<div class="text-center p-2">
    <sup class="text-secondary">
        <i class="fa-solid fa-triangle-exclamation"></i>
        Please update your Delivery Information
    </sup>
</div>
{% endif %}
                    </div>
                {% else %}
                {% endif %}
            </div>

        </div>
    </div>

</section>
{% endblock %}


{% block postloadjs %}
<script>
document.addEventListener('DOMContentLoaded', function () {
    const billingForm = document.getElementById('billingForm');
    billingForm.addEventListener('submit', function (e) {
        e.preventDefault();
        const formData = new FormData(billingForm);
        fetch("{% url 'update_billing' %}", {
            method: 'POST',
            body: formData,
        })
        .then(response => response.text())
        .then(data => {
            var billingModal = new bootstrap.Modal(document.getElementById('billingModal'));
            billingModal.hide();
            location.reload();
        })
        .catch(error => console.error('Error:', error));
    });

    const shippingForm = document.getElementById('shippingForm');
    shippingForm.addEventListener('submit', function (e) {
        e.preventDefault();
        const formData = new FormData(shippingForm);
        fetch("{% url 'update_shipping' %}", {
            method: 'POST',
            body: formData,
        })
        .then(response => response.text())
        .then(data => {
            var shippingModal = new bootstrap.Modal(document.getElementById('shippingModal'));
            shippingModal.hide();
            location.reload();
        })
        .catch(error => console.error('Error:', error));
    });
});
</script>
{% endblock postloadjs %}