{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block meta_keywords %}
key, words, go, here
{% endblock %}
{% block meta_desc %}
Meta Description 
{% endblock %}

{% block content %}

<section>
            
    <div class="container">
    
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-3">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Basket</li>
            </ol>
        </nav>

    </div>


    <!-- BASKET -->
    <div class="container" id="basket">
        <div class="row my-5">

            <div class="col-12 col-lg-12 px-3">
                <h1>My Basket</h1>
            </div>

            <div class="col-12 col-lg-9 px-3">
                {% if user_transactions %}
                <div class="accordion" id="accordionExample">
                    {% for transaction in user_transactions %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-{{ transaction.id }}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ transaction.id }}" aria-expanded="false" aria-controls="collapse-{{ transaction.id }}">
                                <strong>{{ transaction.product.name }} <span class="text-primary px-2">edit</span></strong>
                                <small class="text-secondary">
                                    <span class="text-dark px-2">&euro; {{ transaction.subtotal | floatformat:2 }}</span>
                                    (QTY {{ transaction.quantity }} &times; &euro;{{ transaction.product.price }}) 
                                </small>
                            </button>
                        </h2>
                        <div id="collapse-{{ transaction.id }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ transaction.id }}" data-bs-parent="#accordionExample">
                          <div class="accordion-body">

                            <div class="row">
                                <div class="col-11">
                                    <p>SKU: {{ transaction.product.sku }}</p>
                                    <form method="POST" action="{% url 'basket_quantity_update' transaction.id %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                          <label for="quantity">Quantity:</label>
                                          <input type="number" min="1" class="form-control" id="quantity" name="quantity" value="{{ transaction.quantity }}">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Update Quantity</button>
                                      </form>
                                </div>
                                <div class="col-1 text-end">
                                    <form method="post" action="{% url 'delete_transaction' transaction.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn text-danger btn-xs">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            
                            
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="my-5">
                    <h6>Billing &amp; Shipping</h6>
                </div>

                {% else %}
                    <p>Basket is empty. <a href="{% url 'products' %}">Browse Products</a></p>
                {% endif %}
            </div>

            <div class="col-12 col-lg-3 px-3 text-center">
                <h6>ORDER OVERVIEW</h6>
                <div class="p-3 border rounded text-start">
                    <div class="p-2">
                        <table class="w-100">
                            <tbody>
                                <tr>
                                    <td class="text-start">BASKET TOTAL</td>
                                    <td class="text-end">&euro; {{ total_basket_value | floatformat:2 }}</td>
                                </tr>
                                <tr>
                                    <td class="text-start">DELIVERY</td>
                                    <td class="text-end">&euro; {{ delivery_amount | floatformat:2 }}</td>
                                </tr>
                                <tr>
                                    <td class="text-start">VAT (23%)</td>
                                    <td class="text-end">&euro; {{ vat_amount | floatformat:2 }}</td>
                                </tr>
                                <tr>
                                    <td class="text-start"><strong>TOTAL</strong></td>
                                    <td class="text-end"><strong>&euro; {{ total_amount | floatformat:2 }}</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <button class="btn btn-primary w-100">PAY NOW</button>
                    <form method="POST">
                        {% csrf_token %}
                        <button type="submit" name="action" value="create_order">Create Test Order</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

</section>

{% endblock %}