{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block meta_keywords %}
key, words, go, here
{% endblock %}
{% block meta_desc %}
Meta Description 
{% endblock %}

{% block content %}

<section>

    <div class="container">
        <div class="row my-5">
            <div class="col-12 col-md-6 p-3 p-lg-5 my-auto">
                <div class="bg-white p-3 p-lg-5 rounded">
                <h1>Contact Details</h1>
                <h6>Get in-touch</h6>
                <ul class="no_bullet">
                    <li><strong>t.</strong> <a href="tel:003531234567">+353 123 4567</a></li>
                    <li><strong>e.</strong> <a href="mailto:email@website.com">email@website.com</a></li>
                </ul>
                <p>
                    <strong>Physical Address</strong><br>
                    The Big Building, O'Connell Street,<br>
                    Dublin 1, Dublin<br>
                    Ireland. 
                </p>
                <p>
                    <strong>Eircode:</strong><br>
                    D1 XYZ
                </p>
                </div>
            </div>
            <div class="col-12 col-md-6 p-3 p-lg-5">
                <div class="bg-dark text-white p-3 p-lg-5 rounded">
                    <h2 class="text-info">Send us a message</h2>
                    <p>We will do our best to respond to your message as quickly as possible.</p>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">Send Message</button>
                    </form>
                </div>
            </div>
            <div class="col-12 col-md-12 p-3 p-lg-5 my-auto">
                <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d152515.3659560186!2d-6.410511515030776!3d53.32441163042075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670e80ea27ac2f%3A0xa00c7a9973171a0!2sDublin!5e0!3m2!1sen!2sie!4v1716395464984!5m2!1sen!2sie" 
                width="100%" 
                height="450" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            
        </div>
    </div>

    

    <div class="container">
        <div class="row">
    
            <div class="col-12 col-md-6 px-3 px-lg-5 my-auto">
                <h1>Newsletter</h1>
                <h6>
                    We don't send out much, but when we do it's important.
                    So feel free to join our monthly newsletter for information
                    about new products and special offers!
                </h6>
                <p>You can unsubscribe at anytime.</p>
            </div>
            <div class="col-12 col-md-6 px-3 px-lg-5 my-auto">
                <div id="mc_embed_shell" style="margin: 0 auto; width: auto;">
                    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
                <style type="text/css">
                      #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width: 600px;}
                      /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
              </style>
              <div id="mc_embed_signup">
                  <form action="https://bridgemedia.us21.list-manage.com/subscribe/post?u=07982f7ef795ecbfe1c16a46c&amp;id=86ef2d234c&amp;f_id=00ebf0e6f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                      <div id="mc_embed_signup_scroll"><h2>Subscribe</h2>
                          <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                          <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""><span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span></div>
                      <div id="mce-responses" class="clear foot">
                          <div class="response" id="mce-error-response" style="display: none;"></div>
                          <div class="response" id="mce-success-response" style="display: none;"></div>
                      </div>
                  <div aria-hidden="true" style="position: absolute; left: -5000px;">
                      /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                      <input type="text" name="b_07982f7ef795ecbfe1c16a46c_86ef2d234c" tabindex="-1" value="">
                  </div>
                      <div class="optionalParent">
                          <div class="clear foot">
                              <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                              <p style="margin: 0px auto;"><a href="http://eepurl.com/iLePBU" title="Mailchimp - email marketing made easy and fun"><span style="display: inline-block; background-color: transparent; border-radius: 4px;"><img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a></p>
                          </div>
                      </div>
                  </div>
              </form>
              </div>
              
            </div>
        </div>
    </div>

</section>

{% endblock %}