{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block meta_keywords %}
key, words, go, here
{% endblock %}
{% block meta_desc %}
Meta Description 
{% endblock %}

{% block content %}

<section>
            
    <div class="container">
    
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-3">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
        </nav>
        
        <div class="row">
            <div class="col-12 col-lg-6 p-3 p-lg-5 my-auto">
                <h1>PERFORMANCE TOOLS</h1>
                <p>Get the job done with tools that won’t let you down!</p>
                <button class="btn btn-primary">SHOP NOW</button>
            </div>
            <div class="col-12 col-lg-6 p-3 p-lg-5 text-center my-auto">
                <img src="https://apim.canadiantire.ca/v1/product/api/v1/product/image/0581370p?baseStoreId=CTR&lang=en_CA&subscription-key=c01ef3612328420c9f5cd9277e815a0e&imwidth=640&impolicy=mZoom">
            </div>
        </div>
    </div>
            
    <div class="container">
        <div class="row my-5">
            <div class="col-12 text-center my-auto p-1">
                <a href="#" class="btn bg-light w-100 p-5">
                    <h4>FEATURE</h4>
                    <p>Something here.</p>
                    <button class="btn btn-primary btn-sm">Browse collection</button>
                </a>
            </div>
        </div>
    </div>
            
    <div class="container">
        <div class="row my-5">
            <div class="col-12 py-3 text-center">
                <h3>Shop by Collection</h3>
            </div>
            <div class="col-12 col-md-4 col-lg-6 text-center my-auto p-1">
                <a href="#" class="btn bg-light w-100 p-5">
                    <h4>HAND TOOLS</h4>
                    <p>Something here.</p>
                    <button class="btn btn-primary btn-sm">Browse collection</button>
                </a>
            </div>
            <div class="col-12 col-md-4 col-lg-6 text-center my-auto p-1">
                <a href="#" class="btn bg-light w-100 p-5">
                    <h4>POWER TOOLS</h4>
                    <p>Something here.</p>
                    <button class="btn btn-warning btn-sm">Browse collection</button>
                </a>
            </div>
            <div class="col-12 col-md-4 col-lg-6 text-center my-auto p-1">
                <a href="#" class="btn bg-light w-100 p-5">
                    <h4>TESTING EQUIPMENT</h4>
                    <p>Something here.</p>
                    <button class="btn btn-success btn-sm">Browse collection</button>
                </a>
            </div>
            <div class="col-12 col-md-4 col-lg-6 text-center my-auto p-1">
                <a href="#" class="btn bg-light w-100 p-5">
                    <h4>CONSUMABLES</h4>
                    <p>Something here.</p>
                    <button class="btn btn-info btn-sm">Browse collection</button>
                </a>
            </div>
            <div class="col-12 col-md-4 col-lg-6 text-center my-auto p-1">
                <a href="#" class="btn bg-light w-100 p-5">
                    <h4>STORAGE</h4>
                    <p>Something here.</p>
                    <button class="btn btn-danger btn-sm">Browse collection</button>
                </a>
            </div>
            <div class="col-12 col-md-4 col-lg-6 text-center my-auto p-1">
                <a href="#" class="btn bg-light w-100 p-5">
                    <h4>WEARABLES</h4>
                    <p>Something here.</p>
                    <button class="btn btn-secondary btn-sm">Browse collection</button>
                </a>
            </div>
        </div>
    </div>
    
            
    <div class="container brands">
        <div class="row my-5">
            <div class="col-12 col-lg-2 my-auto text-center">
                <img src="https://www.stickertec.co.uk/image/cache/catalog/Sponsor/snap-on-500x500.png">
            </div>
            <div class="col-12 col-lg-2 my-auto text-center">
                <img src="https://www.stickertec.co.uk/image/cache/catalog/Sponsor/snap-on-500x500.png">
            </div>
            <div class="col-12 col-lg-2 my-auto text-center">
                <img src="https://www.stickertec.co.uk/image/cache/catalog/Sponsor/snap-on-500x500.png">
            </div>
            <div class="col-12 col-lg-2 my-auto text-center">
                <img src="https://www.stickertec.co.uk/image/cache/catalog/Sponsor/snap-on-500x500.png">
            </div>
            <div class="col-12 col-lg-2 my-auto text-center">
                <img src="https://www.stickertec.co.uk/image/cache/catalog/Sponsor/snap-on-500x500.png">
            </div>
            <div class="col-12 col-lg-2 my-auto text-center">
                <img src="https://www.stickertec.co.uk/image/cache/catalog/Sponsor/snap-on-500x500.png">
            </div>
        </div>
    </div>


    <hr>
    
            
    <div class="container">
        <div class="row">

            <div class="col-12 col-lg-3 p-3 p-lg-5">
                <h5>FILTER</h5>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Default checkbox
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Checked checkbox
                    </label>
                  </div>
            </div>

            <div class="col-12 col-lg-9 p-3 p-lg-5">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-md-4 col-lg-3">
                            <div class="card">
                                <img src="https://placehold.co/600x600" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-3">
                            <div class="card">
                                <img src="https://placehold.co/600x600" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-3">
                            <div class="card">
                                <img src="https://placehold.co/600x600" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-3">
                            <div class="card">
                                <img src="https://placehold.co/600x600" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
            
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 p-3 p-lg-5">
                <span style="width:100%;padding-top:100%;background-color:#cccccc; display:block;"></span>
            </div>
            <div class="col-12 col-lg-6 p-3 p-lg-5">
                <small>SKU</small>
                <h1>Product Name</h1>
                <p>
                    This is the short description of a product that is easily to read and gets to the point as soon as possible.
                </p>
                <h2 class="text-danger">&euro; 123.45</h2>
                <hr>
                <button class="btn btn-primary">ADD TO CART</button>
            </div>
        </div>
    </div>


    <!-- BASKET -->
    <div class="container">
        <div class="row">

            <div class="col-12 col-lg-12 px-3 px-lg-5">
                <h1>My Basket</h1>
            </div>

            <div class="col-12 col-lg-9 px-3 px-lg-5">
                <h6>Your basket is empty</h6>
                <a href="#" class="d-block p-3 my-1 bg-light">Item 1</a>
                <a href="#" class="d-block p-3 my-1 bg-light">Item 2</a>
            </div>

            <div class="col-12 col-lg-3 px-3 text-center">
                <h6>ORDER OVERVIEW</h6>
                <div class="p-3 border rounded text-start">
                    <div class="p-2">
                        <table class="w-100">
                            <tbody>
                                <tr>
                                    <td class="text-start">BASKET</td>
                                    <td class="text-end">&euro; 100.00</td>
                                </tr>
                                <tr>
                                    <td class="text-start">DELIVERY</td>
                                    <td class="text-end">&euro; 10.00</td>
                                </tr>
                                <tr>
                                    <td class="text-start">VAT (23%)</td>
                                    <td class="text-end">&euro; 13.45</td>
                                </tr>
                                <tr>
                                    <td class="text-start"><strong>TOTAL</strong></td>
                                    <td class="text-end"><strong>&euro; 123.45</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <button class="btn btn-primary w-100">PAY NOW</button>
                </div>
            </div>

        </div>
    </div>


    <!-- THANK YOU PAGE -->
    <div class="container">
        <div class="row my-5">
            <div class="col-12 py-3 text-center">
                <h1>Thank You</h1>
                <p>We have received your order.</p>
            </div>
        </div>
    </div>


    <hr>
    
            
    <!-- PROFILE -->
    <div class="container">
        <div class="row">

            <div class="col-12 col-lg-3 p-3 p-lg-5">
                <h5>MY PROFILE MENU</h5>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                      The current link item
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">A second link item</a>
                    <a href="#" class="list-group-item list-group-item-action">A third link item</a>
                    <a href="#" class="list-group-item list-group-item-action">Delete Account</a>
                </div>
            </div>

            <div class="col-12 col-lg-9 p-3 p-lg-5">

                <h1>My Orders</h1>
                <a href="#" class="d-block p-3 my-1 bg-light">Order 1</a>
                <a href="#" class="d-block p-3 my-1 bg-light">Order 2</a>
                <a href="#" class="d-block p-3 my-1 bg-light">Order 3</a>
                <a href="#" class="d-block p-3 my-1 bg-light">Order 4</a>
                <a href="#" class="d-block p-3 my-1 bg-light">Order 5</a>
                <a href="#" class="d-block p-3 my-1 bg-light">Order 6</a>

            </div>

        </div>
    </div>

    <div class="container">

        <div class="row my-5">
            <div class="col-12 py-3">

                <article>
                    <h1>Cookie Policy</h1>
                    <h2>Heading 2</h2>
                    <h3>Heading 3</h3>
                    <h4>Heading 4</h4>
                    <h5>Heading 5</h5>
                    <h6>Heading 6</h6>
                    <p>Paragraph</p>
                    <ul>
                        <li>Unordered list</li>
                    </ul>
                    <ol>
                        <li>Ordered list</li>
                    </ol>
                </article>

            </div>
        </div>

    </div>


    <div class="container">
        <div class="row my-5">
            <div class="col-12 py-3 bg-primary-subtle text-center">
                <h1>404 Error</h1>
                <p>Paragraph text here which is capped at a max-width of 768px. This layout can be used for something like an intro block, or an error page.</p>
            </div>
        </div>
    </div>

</section>

{% endblock %}