{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block meta_keywords %}
key, words, go, here
{% endblock %}
{% block meta_desc %}
Meta Description 
{% endblock %}

{% load custom_filters %}

{% block content %}

<section>
    <div class="container">

        <div class="row my-5">

            <div class="col-12 col-lg-12 px-3">
                <article class="salesorder">
                <div class="border rounded py-4 px-4">
                    <div class="row">
                        <div class="col-12 px-4">
                            <h1>Sales Order</h1>
                        </div>
                        <div class="col-6 px-4">
                            <h6>Deliver to:</h6>
                            <p>
                                <small>
                                    {{ sales_order.shipping_name }}
                                    <br>
                                    {{ sales_order.shipping_address }}
                                    <br>
                                    {{ sales_order.shipping_code }}
                                    <br>
                                    {{ sales_order.shipping_phone }}
                                </small>
                            </p>
                        </div>
                        <div class="col-6 px-4">
                            <h6>Billed to:</h6>
                            <p>
                                <small>
                                    {{ sales_order.billing_name }}
                                    <br>
                                    {{ sales_order.billing_address }}
                                    <br>
                                    {{ sales_order.billing_code }}
                                    <br>
                                    {{ sales_order.billing_phone }}
                                </small>
                            </p>
                        </div>
                        <div class="col-12 px-4">
                            <p><strong>Order Number:</strong> {{ sales_order.number }}</p>
                        </div>
                        <div class="col-12 px-3">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Items ordered</th>
                                        <th class="text-end">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in sales_order_items %}
                                        <tr>
                                            <td>
                                                {{ item.product.name }}
                                                <br>
                                                <sup>{{ item.quantity }} &times; €{{ item.price }}</sup></td>
                                            <td class="text-end">
                                                {% with total_price=item.price|floatmultiply:item.quantity %}
                                                €{{ total_price }}
                                                {% endwith %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12 px-3 text-end">
                            <small>
                                <strong>Delivery:</strong> €{{ sales_order.delivery_amount }}
                                <br>
                                <strong>Vat Amount:</strong> €{{ sales_order.vat_amount }}
                                <br>
                                <strong>Total Amount:</strong> €{{ sales_order.order_total }}
                            </small>
                        </div>
                    </div>
                </div>
                </article>
            </div>
        </div>
    </div>
</section>

{% endblock %}
