{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block meta_keywords %}
key, words, go, here
{% endblock %}
{% block meta_desc %}
Meta Description 
{% endblock %}

{% block content %}

<section>
    <div class="container">

        <div class="row my-5">
            <div class="col-12 col-lg-12 px-3">
                <h5>ORDER No. {{ sales_order.number }}</h5>
            </div>

            <div class="col-12 col-lg-12 px-3">
                <div class="border rounded p-3">
                    <h5>Order Details</h5>
                    <p><strong>Order Number:</strong> {{ sales_order.number }}</p>
                    <p><strong>Billing Name:</strong> {{ sales_order.billing_name }}</p>
                    <p><strong>Billing Address:</strong> {{ sales_order.billing_address }}</p>
                    <p><strong>Shipping Name:</strong> {{ sales_order.shipping_name }}</p>
                    <p><strong>Shipping Address:</strong> {{ sales_order.shipping_address }}</p>
                    <p><strong>Total Amount:</strong> €{{ sales_order.order_total }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}