{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block meta_keywords %}
key, words, go, here
{% endblock %}
{% block meta_desc %}
Meta Description 
{% endblock %}

{% block content %}

<section>
            
    <div class="container">
    
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-3">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
        </nav>
    </div>


    <!-- THANK YOU PAGE -->
    <div class="container">
        <div class="row my-5">
            <div class="col-12 py-3 text-center">
                <h1>Order Confirmation</h1>
<p>Thank you for your order!</p>
<p>Order Number: {{ order.number }}</p>
<p>Billing Name: {{ order.billing_name }}</p>
<p>Billing Address: {{ order.billing_address }}</p>
<p>Shipping Name: {{ order.shipping_name }}</p>
<p>Shipping Address: {{ order.shipping_address }}</p>
<p>Items Total: {{ order.items_total }}</p>
<p>Delivery Amount: {{ order.delivery_amount }}</p>
<p>VAT Amount: {{ order.vat_amount }}</p>
<p>Order Total: {{ order.order_total }}</p>
            </div>
        </div>
    </div>

</section>

{% endblock %}