{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block meta_keywords %}
key, words, go, here
{% endblock %}
{% block meta_desc %}
Meta Description 
{% endblock %}

{% block content %}

<section>

    <div class="container">

        <div class="row my-5">
            <div class="col-12 py-3">

                <article>
                    <h1>My Orders</h1>
                        {% for order in user_orders %}
                            <a class="btn bg-light w-100 text-start" href="{% url 'order_detail' order.number %}">
                                <div class="row">
                                    <div class="col-10 text-start">                                        
                                        {{ order.number }}<br>
                                        <sup>{{ order.date }}</sup>
                                    </div>
                                    <div class="col-2 text-end">
                                        {% if order.status == '1' %}
                                            <span class="text-warning">Preparing</span>
                                        {% elif order.status == '2' %}
                                            <span class="text-success">Shipped</span>
                                        {% elif order.status == '3' %}
                                            <span class="text-success">Complete</span>
                                        {% else %}
                                            <span class="text-danger">Issue</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                            <hr>
                        {% endfor %}
                </article>

            </div>
        </div>

    </div>

</section>

{% endblock %}