{% extends 'base.html' %}

{% block title %}
Privacy Policy
{% endblock %}

{% block meta_keywords %}
key, words, go, here
{% endblock %}

{% block meta_desc %}
Meta Description 
{% endblock %}

{% block content %}

<section>

    <div class="container">

        <div class="row my-5">
            <div class="col-12">
                <article>
                    <h1>Privacy Policy</h1>
                    <h4>Overview</h4>
                    <p>
                        This privacy policy provides you with details of how we collect and process your personal data through your use of
                        our site and marketing activities <a href="https://www.website.com/" target="_blank"
                            rel="noopener noreferrer">https://www.website.com</a>.
                    </p>
                    <p>
                        By providing us with your data, you confirm to us that you are over 13 years of age.
                    </p>

                    <h5>Data Controller:</h5>
                    <p>
                        <strong>Cadence Tools</strong> is the data controller and we are responsible for your personal data (referred to
                        as “we”, “us” or “our” in this privacy policy).
                    </p>

                    <h6>Contact Details:</h6>
                    <p>
                        <strong>Registered name:</strong> <span>Cadence Tools Applications Ltd</span>
                        <br>
                        <strong>Email address:</strong> <a href="mailto:info@website.com" title="info@website.com">info@website.com</a>
                        <br>
                        <strong>Postal address:</strong> <span>24 Merchants Quay, Merchants Court, Dublin 8, Ireland.</span>
                        <br>
                        <strong>Telephone number:</strong> <a href="tel:+353 (0) 6711884" title="+353 (0) 6711884">+353 (0) 6711884</a>
                    </p>
                    <p>
                        It is very important that the information we hold about you is accurate and up to date. Please update your personal information
                        by navigating to your profile settings or  let us know if at any time your personal information changes by emailing us 
                        at <a href="mailto:info@website.com" title="info@website.com">info@website.com</a>.
                    </p>
                    
                    <h4>Data Collection</h4>           
                    <h6>What Data Do We Collect About You, For What Purpose and On What Ground We Process It</h6>
                    <p>
                        Personal data means any information capable of identifying an individual. It does not include anonymised data.
                    </p>
                    <p>
                        We may process the following categories of personal data about you:
                    </p>
                    <ul>
                        <li><strong>Communication Data</strong> that includes any communication that you send to us whether that be through
                            the contact form on our website, through email, text, social media messaging, social media posting or any other
                            communication that you send us. We process this data for the purposes of communicating with you, for record
                            keeping and for the establishment, pursuance or defence of legal claims. Our lawful ground for this processing
                            is our legitimate interests which in this case are to reply to communications sent to us, to keep records and to
                            establish, pursue or defend legal claims.</li>
                        <li><strong>Customer Data</strong> that includes data relating to any purchases of goods and/or services such as
                            your name, title, billing address, delivery address, email address, phone number, contact details, purchase
                            details and your card details. We process this data to supply the goods and/or services you have purchased and
                            to keep records of such transactions. Our lawful ground for this processing is the performance of a contract
                            between you and us and/or taking steps at your request to enter into such a contract.</li>
                        <li><strong>User Data</strong> that includes data about how you use our website and any online services together
                            with any data that you post for publication on our website or through other online services. We process this
                            data to operate our website and ensure relevant content is provided to you, to ensure the security of our
                            website, to maintain backups of our website and/or databases and to enable publication and administration of our
                            website, other online services and business. Our lawful ground for this processing is our legitimate interests
                            which in this case are to enable us to properly administer our website and our business.</li>
                        <li><strong>Technical Data</strong> that includes data about your use of our website and online services such as
                            your IP address, your login data, details about your browser, length of visit to pages on our website, page
                            views and navigation paths, details about the number of times you use our website, time zone settings and other
                            technology on the devices you use to access our website. The source of this data is from our analytics tracking
                            system. We process this data to analyse your use of our website and other online services, to administer and
                            protect our business and website, to deliver relevant website content and advertisements to you and to
                            understand the effectiveness of our advertising. Our lawful ground for this processing is our legitimate
                            interests which in this case are to enable us to properly administer our website and our business and to grow
                            our business and to decide our marketing strategy.</li>
                        <li><strong>Marketing Data</strong> that includes data about your preferences in receiving marketing from us and our
                            third parties and your communication preferences. We process this data to enable you to partake in our
                            promotions and free giveaways, to deliver relevant website content and advertisements to you and measure or
                            understand the effectiveness of this advertising. Our lawful ground for this processing is our legitimate
                            interests which in this case are to study how customers use our products/services, to develop them, to grow our
                            business and to decide our marketing strategy.</li>
                    </ul>
                    <p>
                        We may use Customer Data, User Data, Technical Data and Marketing Data to deliver relevant website content and
                        advertisements to you (including Facebook adverts or other display advertisements) and to measure or understand the
                        effectiveness of the advertising we serve you. Our lawful ground for this processing is legitimate interests which
                        is to grow our business. We may also use such data to send other marketing communications to you. Our lawful ground
                        for this processing is either consent or legitimate interests (namely to grow our business).
                    </p>
                    <p>
                        We do not collect any Sensitive Data about you. Sensitive data refers to data that includes details about your race
                        or ethnicity, religious or philosophical beliefs, sex life, sexual orientation, political opinions, trade union
                        membership, information about your health and genetic and biometric data. We do not collect any information about
                        criminal convictions and offences.
                    </p>
                    <p>
                        Where we are required to collect personal data by law, or under the terms of the contract between us and you do not
                        provide us with that data when requested, we may not be able to perform the contract (for example, to deliver goods
                        or services to you). If you don’t provide us with the requested data, we may have to cancel a product or service you
                        have ordered but if we do, we will notify you at the time.
                    </p>
                    <p>
                        We will only use your personal data for a purpose it was collected for or a reasonably compatible purpose if
                        necessary. For more information on this please email us at <a href="mailto:info@website.com"
                            title="info@website.com">info@website.com</a>. In case we need to use your details for an unrelated
                        new purpose, we will let you know and explain the legal grounds for processing.
                    </p>
                    
                    <h6>How We Collect Your Personal Data</h6>
                    <p>
                        We may collect data about you by you providing the data directly to us (for example by filling in forms on our site
                        or by sending us emails). We may automatically collect certain data from you as you use our website by using cookies
                        and similar technologies. Please see our <a href="https://www.website.com/cookie-policy/" target="_blank"
                            rel="noopener noreferrer">cookie policy</a> for more details about this.
                    </p>
                    
                    <h6>Marketing Communications</h6>
                    <p>
                        Our lawful ground of processing your personal data to send you marketing communications is either your consent or
                        our legitimate interests (namely to grow our business).
                    </p>
                    <p>
                        Under the Privacy and Electronic Communications Regulations, we may send you marketing communications from us if (i)
                        you made a purchase or asked for information from us about our goods or services or (ii) you agreed to receive
                        marketing communications and in each case you have not opted out of receiving such communications since. Under these
                        regulations, if you are a limited company, we may send you marketing emails without your consent. However, you can
                        still opt out of receiving marketing emails from us at any time.
                    </p>
                    <p>
                        Before we share your personal data with any third party for their own marketing purposes we will get your express
                        consent.
                    </p>
                    <p>
                        You can ask us or third parties to stop sending you marketing messages at any time by following the opt-out links on
                        any marketing message sent to you or by emailing us at <a href="mailto:info@website.com"
                            title="info@website.com">info@website.com</a> at any time.
                    </p>
                    <p>
                        If you opt out of receiving marketing communications this opt-out does not apply to personal data provided as a
                        result of other transactions, such as purchases, warranty registrations, etc.
                    </p>
                    
                    <h6>Disclosures of Your Personal Data</h6>
                    <p>
                        We may have to share your personal data with the parties set out below:
                    </p>
                    <ul>
                        <li>Service providers who provide IT and system administration services.</li>
                        <li>Professional advisers including lawyers, bankers, auditors and insurers.</li>
                        <li>Government bodies that require us to report processing activities.</li>
                        <li>Third parties to whom we sell, transfer, or merge parts of our business or our assets.</li>
                    </ul>
                    <p>
                        We require all third parties to whom we transfer your data to respect the security of your personal data and to
                        treat it in accordance with the law. We only allow such third parties to process your personal data for specified
                        purposes and in accordance with our instructions.
                    </p>
                </article>
            </div>
        </div>

    </div>

</section>

{% endblock %}