{% extends 'base.html' %}

{% block title %}
{{ product.name }}
{% endblock %}

{% block meta_keywords %}
{{ product.seo_keys }}
{% endblock %}

{% block meta_desc %}
{{ product.seo_desc }}
{% endblock %}

{% load static %}

{% block content %}

<section>
            
    <div class="container">
        <div class="row p-0">
            <div class="col-11 my-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb my-3">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'products' %}">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
                    </ol>
                </nav>
            </div>
            <div class="col-1 text-end my-auto">
                {% if user.is_authenticated and user.is_staff %}
                <a class="btn-edit" href="{% url 'erp_product_edit' product.pk %}">Edit Product</a>
                {% endif %}
            </div>
        </div>    
    </div>
    
            
    <div class="container">
        <div class="row p-3 p-lg-5">
            <div class="col-12 col-md-6 col-lg-6 p-3 p-lg-5">

                <div class="product-slider">
                    {% for media in media_files %}
                        <img src="{{ media.file.url }}" alt="{{ product.name }}">
                    {% empty %}
                        <img src="{% static 'img/placeholder_no_image.png' %}" alt="No Image Placeholder">
                    {% endfor %}
                </div>

            </div>
            <div class="col-12 col-md-6 col-lg-6 p-3 p-lg-5">
                <div class="detail">
                    <small>{{ product.sku }}</small>
                    <h1>{{ product.name }}</h1>
                    {% if product.blocked %}
                        <p><em>This product is no longer available for purchase.</em></p>
                    {% else %}
                        <h4 class="price my-3">&euro; {{ product.price }}</h4>
                        <p>{{ product.blurb }}</p>
                    {% endif %}
                    
                    <div class="my-5">
                        <small>
                            {% if product.blocked %}
                                <span class="status">
                                    <span>Status: <strong class="text-danger">Unvailable</strong></span>
                                </span>
                            {% else %}
                                {% if user.is_authenticated %}
                                    {% if product_in_basket %}
                                        <a class="btn btn-warning" href="{% url 'basket' %}">Currently in the Basket</a>
                                    {% else %}
                                        <form method="post" class="form-inline">
                                            {% csrf_token %}
                                            {{ form }}
                                            <button type="submit" class="btn btn-cart">Add To Basket <i class="fa-solid fa-circle-plus"></i></button>
                                        </form>
                                    {% endif %}
                                {% else %}
                                    <a class="btn btn-warning btn-sm" href="{% url 'account_login' %}">
                                        Please login to add to your basket
                                    </a>
                                {% endif %}
                                <div class="status">
                                    <span>Status: <strong class="text-success">Available</strong></span> | <span>Stock: <strong class="text-dark">{{ product.stock }}</strong></span>
                                </div>
                            {% endif %}
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}

{% block postloadjs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script>
    $(document).ready(function(){
        $('.product-slider').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: false,
            autoplaySpeed: 2000,
            dots: true,
            infinite: false,
            speed: 400,
            fade: true,
            cssEase: 'linear',
            prevArrow: '<button type="button" class="slick-prev"><i class="fas fa-chevron-left"></i></button>',
            nextArrow: '<button type="button" class="slick-next"><i class="fas fa-chevron-right"></i></button>'
        });
    });
</script>
{% endblock postloadjs %}