{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block meta_keywords %}
key, words, go, here
{% endblock %}
{% block meta_desc %}
Meta Description 
{% endblock %}

{% load static %}
{% load custom_filters %}

{% block content %}

<section>
            
    <div class="container">
        <div class="row">
            <div class="col-12 p-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb my-3">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'products' %}">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            {% if collection_name %}
                                {{ collection_name }}
                            {% endif %}
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
       
    <div class="container">
        <div class="row my-5">

            <div class="col-12 col-lg-12">
                {% if collection_name %}
                    <h1>{{ collection_name }}</h1>
                {% endif %}
            </div>

            <div class="col-12 col-lg-3">
                <h5 class="mb-4">Filters:</h5>
                <form method="GET">
                    <div class="my-3">
                        <h6>Brand</h6>
                        {% for brand in brands %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="brand" value="{{ brand }}" id="brand_{{ brand }}" {% if brand in selected_brands %}checked{% endif %}>
                            <label class="form-check-label" for="brand_{{ brand }}">
                                {{ brand }}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Apply Filters</button>
                </form>
                
            </div>

            <div class="col-12 col-lg-9">
                <div class="container-fluid">
                    <div class="row">
                        {% if products %}
                            <div class="col-12 text-end mb-4">
                                <div class="dropdown">
                                    <button class="btn btn-sm  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Sort
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="?{% if brand_filter %}{% for brand in selected_brands %}brand={{ brand }}&{% endfor %}{% endif %}order_by=asc"><i class="fa-solid fa-euro-sign"></i> Lowest first</a></li>
                                        <li><a class="dropdown-item" href="?{% if brand_filter %}{% for brand in selected_brands %}brand={{ brand }}&{% endfor %}{% endif %}order_by=desc"><i class="fa-solid fa-euro-sign"></i> Highest first</a></li>
                                    </ul>
                                </div>
                            </div>
                            {% for product in products %}
                                <div class="col-12 col-md-4 col-lg-3">
                                    <a href="{% url 'product_detail' sku=product.sku %}">
                                        <div class="card">
                                            {% if product_images|get_item:product.id %}
                                                <img src="{{ product_images|get_item:product.id }}" class="card-img-top" alt="Product Image">
                                            {% else %}
                                            <img src="{% static 'img/placeholder_no_image.png' %}" class="card-img-top">
                                            {% endif %}
                                            <div class="card-body">
                                                <h6 class="card-title">{{ product.name }}</h6>
                                                <sup class="sku">SKU: {{ product.sku }}</sup>
                                                <p class="card-text text-danger">
                                                    <strong>&euro; {{ product.price }}</strong>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>No products found.</p>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>

{% endblock %}