{% extends 'base.html' %}

{% block title %}
{{ product.name }}
{% endblock %}

{% block meta_keywords %}
key, words, go, here
{% endblock %}

{% block meta_desc %}
Meta Description 
{% endblock %}

{% block content %}

<section>
            
    <div class="container">
    
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-3">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">{{ product.collection }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
            </ol>
        </nav>
        
    </div>
    
            
    <div class="container">
        <div class="row p-3 p-lg-5">
            <div class="col-12 col-md-6 col-lg-6 p-3 p-lg-5">
                <span style="width:100%;padding-top:100%;background-color:#cccccc; display:block;"></span>
            </div>
            <div class="col-12 col-md-6 col-lg-6 p-3 p-lg-5">
                <small>{{ product.sku }}</small>
                <h1>{{ product.name }}</h1>
                <p>{{ product.blurb }}</p>
                <p>Price: {{ product.price }}</p>
                <p>Stock: {{ product.stock }}</p>
                {% if product.blocked %}
                    <p>Status: Blocked</p>
                {% else %}
                    <p>Status: Available</p>
                {% endif %}
                <hr>
                <button class="btn btn-primary">ADD TO CART</button>
            </div>
            <div class="col-12 col-md-6 col-lg-6 p-3 p-lg-5">
                <p>Description: {{ product.desc }}</p>
            </div>
            <div class="col-12 col-md-6 col-lg-6 p-3 p-lg-5">
                <h6>Attributes</h6>
                <p>Collection: {{ product.collection }}</p>
                <p>SKU: {{ product.sku }}</p>
                <p>Brand: {{ product.brand }}</p>
                <p>Type: {{ product.type }}</p>
                <p>Created: {{ product.created }}</p>
                <p>Updated: {{ product.updated }}</p>
            </div>
        </div>
    </div>

</section>

{% endblock %}