{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block meta_keywords %}
key, words, go, here
{% endblock %}
{% block meta_desc %}
Meta Description 
{% endblock %}

{% load static %}
{% load custom_filters %}

{% block content %}

<section>
            
    <div class="container">
    
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-3">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">All Products</li>
            </ol>
        </nav>

    </div>
    
            
    <div class="container">
        <div class="row my-5">

            <div class="col-12 col-lg-12">
                <h1>All Products</h1>
            </div>

            <div class="col-12 col-lg-3">
                <h5>Filters:</h5>
                <form method="GET">
                    <div class="my-3">
                        <h6>Brand</h6>
                        {% for brand in brands %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="brand" value="{{ brand }}" id="brand_{{ brand }}" {% if brand in selected_brands %}checked{% endif %}>
                            <label class="form-check-label" for="brand_{{ brand }}">
                                {{ brand }}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Apply Filters</button>
                </form>
                
            </div>

            <div class="col-12 col-lg-9">
                <div class="container-fluid">
                    <div class="row">
                        {% for product in products %}
                            <div class="col-12 col-md-4 col-lg-3">
                                <a href="{% url 'product_detail' sku=product.sku %}">
                                    <div class="card">
                                        {% if product_images|get_item:product.id %}
                                            <img src="{{ product_images|get_item:product.id }}" class="card-img-top" alt="Product Image">
                                        {% else %}
                                        <img src="{% static 'img/placeholder_no_image.png' %}" class="card-img-top">
                                        {% endif %}
                                        <div class="card-body">
                                            <h6 class="card-title">{{ product.name }}</h6>
                                            <sup class="sku">SKU: {{ product.sku }}</sup>
                                            <p class="card-text text-danger">
                                                <strong>&euro; {{ product.price }}</strong>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>

{% endblock %}