{% extends 'base.html' %}

{% block title %}
Customer Support
{% endblock %}

{% block meta_keywords %}
key, words, go, here
{% endblock %}

{% block meta_desc %}
Meta Description 
{% endblock %}

{% block content %}

<section>

    <div class="container">

        <div class="row my-5">
        
            <div class="col-12 col-md-6 py-3">

                <article>
                    <h1>Customer Support</h1>
                    <p>
                        At Cadence, your satisfaction is our top priority. We understand that you may have questions or need assistance with
                        your shopping experience, and we're here to help every step of the way. Whether you're tracking an order, processing
                        a return, or simply need more information about a product, our dedicated support team is ready to assist you.
                    </p>
                    
                    <h6>Here's how we can help:</h6>

                    <ul>
                        <li>Order Inquiries: Track your order status, find shipping information, and get updates.</li>
                        <li>Returns and Exchanges: Learn about our return policy, initiate a return, or exchange an item.</li>
                        <li>Product Information: Get detailed information about our products, sizes, and availability.</li>
                        <li>Account Assistance: Manage your account details, reset your password, and update your preferences.</li>
                        <li>Payment Issues: Resolve payment problems and get information on our accepted payment methods.</li>
                        <li>General Questions: Find answers to frequently asked questions and more.</li>
                    </ul>
                </article>

            </div>
            <div class="col-12 col-md-6 py-3">
                    <h5>Submit a support ticket:</h5>
                    <p>
                        All support request are required to be made in writing so that the ticket progress can be tracked.
                        When you submit your request, you will receive a confirmation email with a reference number.
                    </p>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Submit Support</button>
                    </form>

            </div>
        </div>

    </div>

</section>

{% endblock %}