{% extends 'base.html' %}

{% block title %}
Customer Support
{% endblock %}

{% block meta_keywords %}
key, words, go, here
{% endblock %}

{% block meta_desc %}
Meta Description 
{% endblock %}

{% block content %}

<section>

    <div class="container">

        <div class="row my-5">
            <div class="col-12 py-3">

                <article>
                    <h1>Customer Support</h1>
                    <p>
                        At Cadence, your satisfaction is our top priority. We understand that you may have questions or need assistance with
                        your shopping experience, and we're here to help every step of the way. Whether you're tracking an order, processing
                        a return, or simply need more information about a product, our dedicated support team is ready to assist you.
                    </p>
                    
                    <h6>Here's how we can help:</h6>

                    <ul>
                        <li>Order Inquiries: Track your order status, find shipping information, and get updates.</li>
                        <li>Returns and Exchanges: Learn about our return policy, initiate a return, or exchange an item.</li>
                        <li>Product Information: Get detailed information about our products, sizes, and availability.</li>
                        <li>Account Assistance: Manage your account details, reset your password, and update your preferences.</li>
                        <li>Payment Issues: Resolve payment problems and get information on our accepted payment methods.</li>
                        <li>General Questions: Find answers to frequently asked questions and more.</li>
                    </ul>

                    <h6>What next?</h6>
                    <p>
                        Contact us directly through our live chat, email, or phone. We are here to ensure you have a smooth and enjoyable
                        shopping experience.
                    </p>
                    <p>
                        Thank you for choosing Cadence Tools!
                    </p>

                </article>

            </div>
        </div>

    </div>

</section>

{% endblock %}